* {
  margin: 0;
  padding: 0;
  direction: rtl;
  font-family: "IranianSans";
  /* font-weight: 700; */
  font-style: normal;
}

:root {
  --mainyellow: #ffcc23;
  --mainorange: #ff5403;
  --maingrey: #f7f7f7;
  --maingreen: #95cd41;
}
/*========== main */

main {
  height: 100vh;
  display: flex;
  align-items: center;
}

/* alarm section */

.alarm-text {
  border-bottom: black 1px solid;
  border-top: var(--maingrey) solid 1px;
  border-radius: 15px;
  width: 20%;
  margin: 0 auto;
  padding-left: 10px;
  font-size: 1.2rem;
  /* padding: 5px 0px; */
}

.alarm-section {
  width: 90%;
  margin: auto;
}

.alarm-section {
  direction: rtl;
}

.alarm .form-group label {
  width: 15vw;
  text-align: end;
  padding-left: 10px;
}

.alarm {
  background: var(--mainyellow);
  border: solid black;
  border-radius: 10px;
  font-weight: 700;
  box-shadow: 0px 0px 15px var(--maingrey);
  position: relative;
}

/* form */

.input {
  background: var(--mainyellow);
  border: none;
  border-bottom: var(--maingrey) solid 1px;
  border-top: black solid 1px;
  width: 50%;
  outline: none;
  transition: width 0.4s;
  border-radius: 10px;
  padding: 5px 5px;
}

.input:focus {
  background: var(--mainyellow);
  width: 75%;
}
.form-input-label {
  width: 15%;
  display: inline-block;
  margin-bottom: 0;
}
.form-check-label {
  width: 15%;
}

.form {
  display: flex;
  align-items: center;
}

.btn {
  position: absolute;
  bottom: 10px;
  left: 25px;
  border-radius: 25%;
  /* padding: 10px; */
}
